__pycache__
.mypy_cache/
.pyre/
dist/
build/
.coverage
.coverage.*
coverage_html_report/
docs/_build/
*.egg-info/
.eggs/
report.html
htmlcov/
*.pyc
.idea/
*.DS_Store
.ipynb_checkpoints/

deps.json
.coverage
.coverage.*
.pytest-incremental.db
pytest-of-*

vagrant/.vagrant
vagrant/wheels